body{
    margin: 0;
    padding: 0;
    font-family:'Julius Sans One','Segoe UI';
    background-color: #c1c4a2;
}
.container
{
    background-color: #fceed7;
    height: 540px;
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-right: 200px;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
    
}
.box
{
   margin-top: 20px;
   border-width: 1px;
   border-style: solid;
   text-align: center;
   border-color: #8d8d81;
   color: #41382f;
  
}
 .box p{
    position: relative;
    animation-name: mov;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
 }

  @keyframes mov
  {
    0%
    {
        right: -500px;
    }
    100%
    {
        right: 0;
    }
  }

.box:hover
{
    cursor: pointer;
}
.logo
{
    margin-top: -620px;
}
.wrapper img 
{
    margin-left: 230px;
    margin-top: -40px;
}
h1{
    color: #41382f;
    margin-left: 160px;
    font-size: 75px;
    margin-top: -30px;
    position: relative;
    animation-name: wot;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
        
}
   @keyframes wot
   {
      0%
      {
        top: -230px;
      }
      100%
      {
        top: 0;
      }

   }
